.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  padding: 5px 10px;
}
.parent {
  width: 800px;
  margin: 40px auto;
  padding: 1px 20px 20px;
  border: 1px solid darkslategray;
}

.parent--flashing {
  background: #efefef;
}
.parent--flashing .parent__inner {
  margin: -40px;
  padding: 40px;
}
.parent--flashing .parent__inner.light {
  background: white;
  border: 5px solid hotpink;
}
.parent--flashing .parent__inner.light button {
  background: darkslategray;
  color: white;
}
.parent--flashing .parent__inner.dark {
  background: darkblue;
  border: 5px solid yellow;
}
.parent--flashing .parent__inner.dark button {
  background: #b1cae3;
  color: #222222;
}

.child {
  padding: 40px;
  background: #efefef;
  color: darkslategray;
}
